/bin/

.metadata/.plugins/org.eclipse.core.resources/.history/84/a076914bd9460015162cb1af5e1d5bb2
.metadata/.plugins/org.eclipse.core.resources/.history/e/d0aed2f07948001514d4d3272d87973e
.metadata/.plugins/org.eclipse.jdt.core/1299924796.index